Package: fierce
Version: 0.9.9
Priority: optional
Architecture: amd64
Maintainer: SnoopGod <contact@snoopgod.com>
Description: Fierce is a semi-lightweight scanner that helps locate non-contiguous IP space and hostnames against specified domains.
